# Name: Trainable Weka Segmentation
# Author: Ignacio Arganda-Carreras, Verena Kaynig, Albert Cardona
# Maintainer: Ignacio Arganda-Carreras (iargandacarreras@gmail.com), Robert Haase (rhaase@mpi-cbg.de)

Plugins>Segmentation, "Trainable Weka Segmentation (CLIJx, experimental)", trainableSegmentation_clij.Weka_Segmentation
Plugins>Segmentation, "Trainable Weka Segmentation 3D (CLIJx, experimental)", trainableSegmentation_clij.Weka_Segmentation("3D")
Plugins>Segmentation, "Color Clustering (CLIJx, experimental)", trainableSegmentation.unsupervised.Color_Clustering
